:root {
  background-color: #fafafa;
  font-family: 'Poppins';
  padding: 30px;

  /* background: rgb(36,64,47);
background: linear-gradient(126deg, rgba(36,64,47,1) 0%, rgba(0,0,0,1) 100%); */
}

* {
  font-family: 'Poppins';
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}